@media (max-width: 991.98px) {
  .offer {
    flex-direction: column;
    height: 550px;
  }

  .offer-bg {
    height: 50%;
  }

  .offer-bg img {
    width: 100%;
  }

  .offer-text {
    height: 50%;
    width: 100%;
    transform: skew(0);
    padding: 12px 0;
  }

  .un-skew {
    transform: skew(0);
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767.98px) {
  .offer-text p {
    margin: 15px 5px;
  }

  .offer-bg img {
    width: 150%;
  }
}

@media (max-width: 575.98px) {
  .offer-bg {
    height: 45%;
  }

  .offer-text {
    height: 55%;
  }
}
